{% extends "home/base.html" %}
{% load static %}

{% block navlinks %}
<a href="{% url 'home' %}" class="nav-link nav-link-font">home</a>
<a href="{% url 'about' %}" class="nav-link nav-link-font">about</a>
<a href="portfolio.html" class="nav-link nav-link-font">portfolio</a>
<a href="{% url 'forum' %}" class="nav-link nav-link-font">forum</a>
<a href="{% url 'contact' %}" class="nav-link nav-link-font"><span>contact</span></a>
{% endblock navlinks %}

{% block content %}
    <!-- Contact -->
    <div class="contact-body">
        <div class="c-text">
            <div class="c-header">
                <h4 class="c-heading">CONTACT PAGE</h4>
            </div>
            <div class="c-main-text">
                <h2>Get in touch with me for</h2>
                <h2>more information!</h2>
                <p>I'm always here, so please don't be afraid to give me an email</p>
            </div>
        </div>
        <div class="c-info">
            <div class="c-info-box">
              <div class="c-info-container">
                <img src="{% static 'image/seoulnight.webp' %}" alt="c-info-photo" class="c-info-image">
                <h4>South Korea</h4>
                <span class="c-name">Youngsu Choi (최영수)</span>
                <p>tonymusic0825@gmail.com</p>
                <p>(+82) 10-8028-5975</p>
                <p>Republic of Korea, Gangwon-do, Wonju-si</p>
              </div>
            </div>
          </div>
    </div>
    <!-- End of Contact -->
{% endblock content %}