{% extends "home/base.html" %}
{% block login %}
    <!-- Login Pop-up -->
    <div class="login-popup-container">
        <div class="login-popup">
            <form class="form" method="POST">
                <div class="close-btn">&times;</div>
                <h2>Log in</h2>
                <div class="form-element">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Enter username">
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="text" id="password" placeholder="Enter password">
                </div>
                <div class="form-element">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="form-element">
                    <button type="submit">Sign in</button>
                </div>
                <div class="form-element">
                    <button>Register</button>
                </div>
                <div class="form-element">
                    <a href="#">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
    <!-- End of Login pop-up -->
{% endblock login %}