@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


* {
    box-sizing:border-box;
    -ms-overflow-style: none;  
    scrollbar-width: none; 

}

*::-webkit-scrollbar {
    display:none;
}

*:focus {
    outline: none;
}

:root {

    /* Fonts */
    --font-ibm: 'IBM Plex Sans', sans-serif;
    --font-arvo: 'Arvo', serif;
    --font-lato: 'Lato', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans : 'Open Sans', sans-serif;
    --font-montserrat : 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-schibsted-grotesk: 'Schibsted Grotesk', sans-serif;
    --font-nanum-myeonjo: 'Nanum Myeongjo', serif;
    
    /* Colors */
    --white: white;
    --black: black;
    --nav-link-color: black;

    --picton-blue: #00A7E1;
    --rich-black: #00171F;
    --prussian-blue: #003459;
    --cerulean: #007EA7;
    --Cream: #FFFCF2;
    --background-grey: #e5e5e5;
    --Light-Grey: #CCC5B9;
    --Dark-Grey: #403D39;
    --Orange: #EB5E28;
    --light-black: #252422;

    /* Page dimensions */
    --max-width: 1350px; 

    /* Underline Properties for main-body */
    --underline-intrinsic-width: 8;
    --underline-width: 12;
    --underline-color: #EB5E28;
    --underline-cap-width: 4px;
    --underline-offset-y: -2px;
    --underline-padding-x: 0.12em;

    /* Swiper */
    --swiper-theme-color: white !important;
}

/* 
====================================================================================
General
====================================================================================
*/

.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display:grid;
    align-items: center;
    justify-content: center;
}

/* 
====================================================================================
Nav-bar
====================================================================================
*/

.nav-bar {
    height: 75px;
}

.nav-center {
    display:flex;
    width: 85vw;
}

.nav-header {
    background: url("/static/image/ysclogo.png");
    width: 116px;
    height: 52px;
    background-size: cover;
    background-position: center;
}

.nav-header:hover {
    background: url("/static/image/ysclogo.gif");
    background-size: cover;
    background-position: center;
}

.nav-links {
    margin-left: auto;
}

.nav-link-font {
    font-family: var(--font-open-sans);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-link {
    margin-right: 2rem;
    padding: 0 10px;
    position: relative;
}

.nav-link span {
    text-shadow:1px 1px 25px #fff, 1px 1px 20px #ccc;
}

.nav-link:visited {
    color: white;
}

/* Nav link animation */
.nav-link:before,
.nav-link:after {
    content:"";
    position: absolute;
    height: 3px;
    background-color: white;
    transition: 0.3s;
    width: 0%;
}

.nav-link:after {
    bottom: -10px;
    left: 0;
}

.nav-link:before {
    top: -10px;
    right: 0;
}

.nav-link:hover:before,
.nav-link:hover:after {
    width:100%
}

.nav-link:hover{
    /* text-shadow: 1px 4px 28px rgba(255,255,255,1); */
    color:#fff;
    text-shadow:1px 1px 20px #fff, 1px 1px 20px #ccc;
}

.user-logo {
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.user-logo p {
    margin-left: 7px;
}

.nav-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-content {
    width: 100px;
    background: white;
    color: black;
    display: grid;
    position: absolute;
    grid-template-rows: 30px 30px;
    top: 75px;
    right: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px rgba(255,255,255,0.5);
    visibility: hidden;
}

.user-content.active {
    visibility: visible;
}

.user-content-element {
    width: 100px;
    font-family: var(--font-ibm);
    font-weight: bold;
}

.user-content-element a:visited {
    color: black;
}

.user-content-element a {
    text-decoration: none;
    color: black;
}

.user-content-element a:hover {
    color: var(--Orange);
}

.login-btn {
    background: var(--Orange);
    border:transparent;
    padding: 0.4rem 0.75rem;
    border-radius: 50px;
}

.login-btn:hover {
    background: #D55307;
}

/* 
====================================================================================
Footer
====================================================================================
*/
footer {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    height: 100px;
}

.footer-container {
    margin-top: -8px;
}

.footer-text a {
    font-style: normal;
    transition: all 0.5s;
}

.footer-text a:hover {
    color: orange;
}

.page-footer {
    color: white;
    background: var(--Dark-Grey);
    height: 5rem;
}

.footer-text a {
    text-decoration: none;
    color: var(--Orange);
}

.footer-icons {
    grid-template-columns: 20px 23px 23px;
    gap: 1rem 15px;
}

.footer-icon {
    font-size: 20px;
    transition: all 0.2s;
    color: white;
}

.footer-icon:hover {
    transform: translateY(-5px);
}

.footer-icon:visited {
    color: white;
}

/* 
====================================================================================
Login / Register Page
====================================================================================
*/

.register-section {
    min-height: calc(100vh - 155px);
}

.form {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 640px;
    flex-direction: column;
    font-family: var(--font-ibm);
}

.form h2 {
    text-align: center;
    color: #222;
    font-size: 30px;
}

.form-container {
    display:table;
    margin-left:auto;
    margin-right:auto;
}

.form input {
    width: 500px;
    height: 35px;
    margin-top: 10px;
    border: 2px solid rgba(144,144,144, 0.5);
    transition: 0.7s;
    border-radius: 10px;
}

.form input:focus {
    border: 2px solid var(--Orange);
}

.form strong{
    color: red;
    font-size: 10px;
}

.invalid-feedback {
    margin-top: 3px;
    margin-bottom: 5px;
}

.form-group {
    margin-top: 10px;
}

.form-group small {
    color: grey;
    margin-top: 5px;
    display:block;
}

.register-btn {
    width: 500px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--Dark-Grey);
    color: white;
    font-family: var(--font-ibm);
    cursor: pointer;
    font-size: 15px;
    transition: 0.7s;
    border: none;
}

.register-btn:hover {
    background-color: var(--Orange);
}

.login-p-register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* 
====================================================================================
Alerts
====================================================================================
*/

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    width: 800px;
    margin: 0 auto;
    left:0;
    right:0;
    top: 75px;
    font-size: 15px;
    border-radius: 5px;
}

.alert-center {
    display:flex;
    width: 750px;
}

.alert-success {
    background-color: #43906d;
    color: white;   
}

.alert-warning {
    background-color: #A46565;
    color: white;   
}

.alert-error {
    background-color: #AB9550;
    color: white;   
}

.alert-danger {
    background-color: #A46565;
    color: white;   
}

.close-alert {
    position: relative;
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.alert.close {
    display: none;
}


/* 
====================================================================================
Home-main-body
====================================================================================
*/

.home {
    background: url("/static/image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    min-height: calc(100vh - 155px);
}

.main-body-container {
    grid-template-columns: 1fr 1fr;
    min-width: 1500px;
}

.main-body-text {
    color: white;
    font-family: var(--font-ibm);
    margin-left: 150px;
    margin-top: -30px;
}

.main-body-text h4 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 25px;
}

.main-body-text p {
    font-size: 20px;
    margin-top: 40px;
    font-weight:bold;
}

.button-container {
    display:flex;
    margin-top: 75px;
    max-width: calc(1350px / 2);
}

.main-body-button {
    color: var(--Orange);
    background: white;
    border: 3px solid var(--Orange);
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    transition: 0.8s;
}

.main-body-button:hover {
    color: white;
    background: var(--Orange);
    cursor: pointer;
    caret-color: auto red;
    border-color: white;
}

/* Img + animations circle */
.main-body-image {
    position: relative;
}

.main-body-image img {
    width: 529px;
    height: 531px;
    position: relative;
}

.animation-circle {
    position: absolute;
    width: 544px;
    height: 544px;
    background: linear-gradient(var(--Orange), white);
    border-radius: 50%;
    animation: animate 2s linear infinite;
    box-shadow: 0px -1px 67px 17px rgba(235,94,40,0.75);
    -webkit-box-shadow: 0px -1px 67px 17px rgba(235,94,40,0.75);
    -moz-box-shadow: 0px -1px 67px 17px rgba(235,94,40,0.75);
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Main page size */
@media screen and (min-width:2300px) {
    .main-body-image img {
        width: 635px;
        height: 637px;
    }
    
    .animation-circle {
        width: 655px;
        height: 655px;
    }

    .main-body-image {
        padding-right: 55px;
        margin-left: 100px;
    }

    .main-body-text {
        padding-left: 55px;
        margin-left: -50px;
    }

    .main-body-text h4 {
        font-size: calc(50px * 1.2);
    }
    
    .main-body-text p {
        font-size: calc(20px * 1.2);
        font-family: var(--font-ibm);
        font-weight:bold;
    }
}


/* 
====================================================================================
Contact
====================================================================================
*/

.contact-body {
    justify-content: center;
    min-height: calc(100vh - 180px);
}

.c-text {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.c-header {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 0;
    font-family: var(--font-ibm);
    font-weight: 300;
    width: 140px;
    margin-left: calc(50% - 70px);
    background-color: var(--light-black);
    color: white;
}

.c-header h4 {
    padding: 5px 5px;
    border: 0.13rem solid;
    border-radius: 5px;
    background-color: var(--Orange);
}

.c-main-text {
    color: white;
}

.c-main-text h2 {
    margin: 0px 0px;
    font-size: 60px;
    font-weight: bold;
    font-family: var(--font-ibm);
}

.c-main-text p {
    margin-top: 35px;
    font-family: var(--font-ibm);
    font-weight: 500;
}

.c-info {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; 
    color: white;
}

.c-info-box {
    display:flex;
    justify-content: center;
    background-color:var(--Dark-Grey);
    width: 400px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid var(--Orange);
}

.c-info-container {
    justify-content: center;
    margin-top: 20px;
}

.c-info-image {
    width: 330px;
    height: 190px;
    border-radius: 10px;
}

.c-info-container h4 {
    font-family: var(--font-ibm);
    font-weight: bold;
    font-size: 23px;
    position: relative;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    padding-bottom: 20px;
    margin: 15px 0;
}

.c-info-container p {
    font-family: var(--font-ibm);
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0; 
}

.c-name {
    font-size: 15px;
    font-weight: 600;
}

@media screen and (min-width: 2300px) {
    .c-header {
        width: 140px;
        height: 60px;
    }
    
    .c-header h4 {
        padding: 5px 5px;
        border: 0.13rem solid;
        border-radius: 5px;
        background-color: var(--Orange);
    }
    
    .c-main-text {
        color: white;
        margin-top: 25px;
    }
    
    .c-main-text h2 {
        font-size: 80px;
    }
    
    .c-main-text p {
        margin-top: 50px;
        font-size: 20px;
    }
    
    .c-info {
        margin-top: 75px; 
    }
    
    .c-info-box {
        display:flex;
        justify-content: center;
        background-color:var(--Dark-Grey);
        width: 450px;
        height: 520px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 3px solid var(--Orange);
    }
    
    .c-info-container {
        margin-top: 20px;
    }
    
    .c-info-image {
        width: 380px;
        height: 210px;
    }
    
    .c-info-container h4 {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .c-info-container p {
        font-family: var(--font-ibm);
        font-size: 14px;
        font-weight: 500;
        margin: 23px 0; 
    }
    
    .c-name {
        font-size: 17px;
        font-weight: 600;
    }
}

/* 
====================================================================================
About
====================================================================================
*/

.about{
    background-color: var(--light-black);
}

.about-intro {
    display:table;
    margin: 0 auto;
}

.about-intro-container {
    margin-top: 100px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 1400px;
    height: 500px;
    margin-bottom: 80px;
    margin-right: 50px;
}

.intro-image-container {
    display:flex;
    justify-content: center;
}

.intro-image {
    box-shadow: 0px 0px 31px 10px rgba(255,255,255,0.5);
}

.intro-text-container {
    margin-top: -50px;
    color: white;
    font-family: var(--font-poppins);
    padding-right: 20px;
}

.intro-text-container h4 {
    font-family: var(--font-nanum-myeonjo);
    font-weight: bold;
    font-size: 72px;
    line-height: 60px;
    margin-bottom: 30px;
}

.intro-text-container p {
    text-align: justify;
    font-size: 17px;
    line-height: 35px;
}

.contact-button {
    margin-top: 15px;
    color: var(--Orange);
    border: 2px solid var(--Orange);
    width: 200px;
    height: 50px;
    transition: 0.5s;
    font-weight: bold;
}

.contact-button:hover {
    border: 2px solid white;
    background-color: var(--Orange);
    color: white;
    cursor: pointer;
}

.about-mission {
    display:table;
    margin: 0 auto;
}

.mission-text-container {
    width: 1000px;
    color: #FCC09E;
    font-family: var(--font-poppins);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
    line-height: 35px;
} 

.about-story {
    display:table;
    margin: 0 auto;
}

.about-story-container {
    color: white;
    font-family: var(--font-poppins);
    max-width: 1200px;
    line-height: 35px;
    font-size: 17px;
    text-align: justify;
    background-color: var(--Dark-Grey);
    padding: 20px 30px;
}

.about-story-container h4 {
    font-size: 40px;
    font-family: var(--font-nanum-myeonjo);
    margin-top: 30px;
}

.goal-title {
    text-align: center;
    margin-top: 60px;
    font-family: var(--font-nanum-myeonjo);
    font-size: 40px;
    color: white;
}

.swiper-container {
    background-color: var(--Dark-Grey);
    width: 1200px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.swiper {
    width: 900px;
    height: 500px;
    background-color: var(--Dark-Grey);
    /* border: 5px solid var(--Orange); */
    margin-top: -40px;
}

.goal-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 516px;
}

.goal {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    justify-content: center;
    width: 770px;
    height: 400px;
    column-gap: 40px;
}

.goal-image-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.goal-image {
    width: 330px;
    height: 330px;
    border-radius: 20px;
    box-shadow: 0px 0px 42px -10px rgba(255,255,255,1);
}
.goal-text {
    color: white;
    font-family: var(--font-poppins);
}

.goal-text h4 {
    font-size: 30px;
}

.goal-text p {
    font-size: 15px;
    line-height: 30px;
    margin-top: -5px;
}

.swiper-pagination-bullet {
    background: white !important;
}

/* 
====================================================================================
Pagination
====================================================================================
*/

.pagination {
    margin-bottom: 20px;
}

.pagination-button {
    background-color: var(--light-black);
    border: 1px solid var(--Orange);
    color: white;
    padding: 5px 10px;
    font-family: var(--font-ibm);
    transition: 0.2s;
}

.pagination-button:hover {
    background-color: var(--Orange);
}

.current-page {
    background-color: var(--Orange);
}

/* 
====================================================================================
Profile
====================================================================================
*/

.profile-section {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 155px);
}

.profile-container {
    display:grid;
    grid-template-columns: 270px 768px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--light-black);
    column-gap: 100px;
}

.profile-info {
    color: white;
    font-family: var(--font-ibm);
}

.profile-info i span{
    font-family: var(--font-ibm);
    font-weight: 300;
}

.profile-info img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.profile-name {
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.profile-username {
    margin-top: 5px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 18px;
}

.edit-profile-btn {
    font-size: 13px;
    width: 270px;
    background: var(--light-black);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 5px 0px;
    margin-bottom: 18px;
    font-weight: bold;
    transition: 0.2s
}

.edit-profile-btn:hover {
    background: white;
    color: black;
}

.profile-bio {    
    text-align: center;
}

.profile-location {
    margin-left: 2px;
    margin-top: 5px;
}

.profile-location span {
    margin-left: 2px;
}

.profile-forum-posts {
    color: white;
}

/* Edit profile section */
.edit-profile-section {
    min-height: calc(100vh - 155px);
}

#div_id_image input {
    border: none;
}

.profile-form-container {
    margin-left: 49px;
}

.larger {
    height: 780px !important;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* 
====================================================================================
Forum
====================================================================================
*/

.forum-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 155px);
}

.test {
    color: white;
}

.post-container {
    color: white;
    background: var(--light-black);
    width: 800px;
    height: 200px;
    display: grid;
    grid-template-columns: 90px 680px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--Orange);
}

.author-image img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.info {
    margin-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
}

.post-author {
    text-decoration: none;
    color: var(--Orange);
    font-weight: bold;
    transition: 0.3s;
}

.post-author:visited {
    color: var(--Orange); 
}

.post-author:hover {
    color: orange;
}

.title {
    margin-top: -25px;
    font-size: 25px;
}

.title a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.title a:visited {
    color: white;
}

.title a:hover {
    color: var(--Orange);
}

.content {
    margin-top: -15px;
    max-height: 50px;
}

/* Single Post / Post.html */
.single-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 155px);
}

.single-post-container {
    background: var(--light-black);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid var(--Orange);
    color: white;
}

.single-post-author-container {
    display:grid;
    grid-template-columns: 170px 600px;
    border-bottom: 2px solid var(--Orange);
}

.single-post-author-container img {
    width: 170px;
    height: 170px;
}

.single-post-author-info {
    margin-left: 30px;
    margin-right: 30px;
    color: white; 
}

.single-post-author-info h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.single-post-profile-btn {
    background: var(--light-black);
    border: 1px solid var(--Orange);
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 0px;
    color: var(--Orange);
    transition: 0.2s;
}

.single-post-profile-btn:hover {
    background: var(--Orange);
    color: white;
}

.single-post-author-info p {
    margin-bottom: 3px;
}

.single-post-content {
    margin-top: 50px;
    margin-left: 50px;
}

.single-post-content h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

.single-post-content small {
    color: grey;
}

.single-post-content p {
    padding-bottom: 20px;
}

/* Edit post */
.edit-post-btn {
    position: absolute;
    border: 1px solid var(--Orange);
    background: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    left: 1200px;
    top: 355px;
    transition: 0.3s;
}

.edit-post-btn:hover {
    cursor: pointer;
    background: var(--Orange);
}

/* Create post */

.create-post-form {
    flex-direction: column;
    margin-left: 10px;
}
.create-post-form label {
    margin-top: 20px;
}

.create-post-form textarea {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 500px;
}